body {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    font-family:'LouisVuitton-N',Asian,sans-serif;
    font-family:'LouisVuitton-N',sans-serif;
    margin: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    height: 100%;/* Height rework */
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    background-color: transparent !important;
}

textarea {
    background-color: white;
    border-radius: 0px;
    vertical-align: top;
}

textarea:focus {
    color: black;
}
::-webkit-scrollbar {
    width: 12px;
}
#iframeChat {
    border: 0px;
    z-index: 50;
    position: fixed;
    height: 50%;
    width: 300px;
    right: 27px;
    bottom: 0px;
    -webkit-backface-visibility: hidden;
}

@media screen and (min-width: 200px) and (max-width: 300px) {
    body {
      font-size: 13px;
    }
}
/*@media screen and (max-height: 500px) {
    #iframeChat{
        position: absolute;
        bottom: 20px;
    }
}*/
#window_chat {
    display: none;
    bottom: 0px;
}
a {
 target: _blank;
}
#iframeTest {
  display: block;
  bottom: 0px;
  z-index: 50;
  right: 0px;
  position: fixed;
  width: 225px;
}

#grataForm {
    margin-top: 20px;
}
.inputGrataName:focus {
    outline: none;
}
.inputGrataEmail:focus {
    outline: none;
}
.inputGrataMessage:focus {
    outline: none;
}

#grataForm input {
    resize: none;
    height: 27px !important;
    overflow: hidden;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid darkgrey;
    margin-bottom: 8px;
}
.inputGrataName {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 15px;
    margin-left: -3px;
    width: 80%;
    font-style: italic;
    color:gray;
}
.inputGrataEmail{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 15px;
    margin-left: -3px;
    width: 80%;
    font-style: italic;
    color:gray;
}
.inputGrataMessage {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    color:gray;
    width:88%;
}
.sendingGrataMessage {
    color: green;
    display: none;
    font-size: 13px;
}
.sentGrataMessage {
    color: green;
    display: none;
    font-size: 13px;
}
.failGrataMessage {
    color: red;
    display: none;
}
#grataForm textarea {
    padding: 10px;
    width: 80%;
    position: relative;
    top: 16px;
    left: -2px;
    height: 73px;
    /*font-size: 13px;*/
    border-radius: 6px;
    border: 1px solid darkgrey;
    font-weight: 300;
    resize: none;
}
.chatbox {
	display:none;
}
#chat-top {
    float: right;
    width: 99.5%;
    min-height: 40px;
	/*padding: 9px;*/
	color: #ffffff;
    font-size: 15px;
    cursor:pointer;
    font-family: "Helvetica Neue", Helvetica;
    font-weight: lighter;
	border-right:1px solid steelblue;
	border-left:1px solid steelblue;
    /*border-top-right-radius: 8px;
    border-top-left-radius: 8px;*/
    /*height: 26px;*/    height: 100%;
    padding-bottom: 3px;
    z-index: 10;
}
.connecting {
  position: relative;
  top: 1px;
  left: 57px;
  color: rgba(74, 36, 36, 0.55);
  font-family: "Helvetica Neue", Helvetica;
}

.chatboxblink {
	background-color: #176689;
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}
.buttonWrapper {
    height: 50px;
     color: #333333;
    background-color: #ffffff;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #eeeeee;
}
#btnSender {
    float: right;
    position: relative;
    top: 5px;
    left: -46px;
    height: 24px;
    width: 85px;
    margin-top: 30px;
    background-color: white;
    color: rgb(182, 182, 182);
    border-radius: 3px;
    border: rgb(182, 182, 182) 1px solid;
    padding: 4px 15px 5px 15px;
}
#btnSender:hover {
    cursor: pointer;
}
#btnSender:focus {
    outline: none;
}
.mailStatus {
  position: absolute;
  bottom: 11px;
  left:41px;
  font-size: 15px;
}
.mailFailed {
    color: red;
}
.success {
    color: green;
}
.chat-container {
    height: 70%;
    float: left;
    width: 100%;
    box-shadow: inset 0px 6px 5px -1px lightgrey;
    /*box-shadow: inset 0px 4px 4px 0px lightgray;*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #333333;
	/*height: 239px;*/
	overflow-y:auto;
	overflow-x:auto;
	/*padding:7px;*/
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	background-color: #ffffff;
	line-height: 1.3em;
    /*margin-bottom: 6px;*/
    margin-bottom: -12px;
    height: 84%;/* height rework */
    /*overflow-y: scroll; 
    -webkit-overflow-scrolling: touch;*/
}
/*
.online {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  bottom: 0px;
  height: 16px;
  right: 0px;
  position: absolute;
  width: 16px;
  background-color: #E73;
  top: 9px;
  left: 240px;
}

.offline {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  bottom: 0px;
  height: 16px;
  right: 0px;
  position: absolute;
  width: 16px;
  background-color: lightslategray;
  top: 9px;
  left: 240px;
}
*/
.form-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333333;
    height: 250px;
    width: 95.5%;
    overflow-y:auto;
    overflow-x:auto;
    padding:2%;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #eeeeee;
    background-color: #ffffff;
    line-height: 1.3em;
    text-align: center;
}
.input-box {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #cccccc;
	border-right:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
}

.typing-box {
    position: relative;
    bottom: 0px;
    left: 0;
    
    padding-left: 6px !important;
	width: 100%;/*width: 300px;*/
	height: 90px;
	padding:3px 0px 3px 2px;
	border: 1px solid #eeeeee;
	margin: 0;
	overflow:hidden;
    resize: none;
    outline: none;
    font-size: 16px;
    border-right: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    border-bottom : 1px solid #cccccc;
    color: #a3a3a3;
    /*font-style: italic;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-right: 68px;
    font-weight: 300;
}
.typing-boxIphone {font-size: 16px !important;}
.chatboxtextareaselected {
	margin:0;
}
.inputbox {
    /*margin-top: -17px;*/
    float:left;
    width:100%;
    /*position:relative;*/
    height: 18%;
    /*margin-top: -6px;*/
    text-align: center;
    position: fixed;
    bottom: 0;
}
.chatboxmessage {
	margin-left:1em;
}
.messageFrom {
    margin: 7px 4px 6px;
}
.messageTo {
    margin: 7px 4px 6px;
}
.blink {
    color: #FFF !important;
    background: #FC79CE;
    !important;
}
.usertyping {
  color: lightslategray;
  padding: 2px;
  font-size: 12px;
  background-color: white;
  text-align: center;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  min-height: 14px;
  margin-top: 13px;
}
.received {
}
.chatboxinfo {
	margin-left:-1em;
    position: relative;
    top: -5px;
}
.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}
.chatboxmessagecontent {
}
image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  max-height: 100%;
}

.image {
  width: 98%;
  height: 50%;
  /*margin-left: -13px;*/
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 6px;
  margin-left: 2px;
  /*max-height: 100%;*/
}
   
.close-min {
	float: right;
}
.close-min a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}
.watermark {
    position: fixed;
    bottom: 0;
    z-index: 0;
    font-size: 9px;
    left: 37%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(181, 181, 181, 0.55);
}
/*.watermark {
    position: relative;
    top: 45px;
    font-size: 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgba(181, 181, 181, 0.55);
}*/
.chat-title {
	float: left;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: lighter;
    padding: 12px 9px 9px 9px;
    max-width: 61%px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a:hover {
    cursor: pointer;
}

a {
    color: steelblue;
    text-decoration: none;
}
.editorLoading {
    height: 150px;
    width: 150px;
    background-image: url(images/loading.gif);
    background-size: contain;
    margin-left: 115px;
}

.previewPdf {
    height: 150px;
    width: 150px;
    background-image: url(images/pdf.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.previewImage {
    height: 150px;
    width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}
.previewZip {
    height: 150px;
    width: 150px;
    background-image: url(images/zip.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.previewFile {
    height: 150px;
    width: 150px;
    background-image: url(images/file.png);
    background-size: contain;
    background-repeat: no-repeat;
} 












/* === new templates === */

.adhoc-v1 {
    width: 290px;
}

.venue-v2 {
  width: 80%;
  overflow: hidden;
  border-left: 1px solid;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  margin-left: 0px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.venue-v2 .hd {
    display: block;
    position: relative;
    z-index: 1;
    border-width: 0;
}

.venue-v2 .hd.withoutImage {
    height: 35px;
}

.venue-v2 .hd.withImage {
    height: 120px;
}

.venue-v2 .img {
    display: block;
    width: 100%;
    height: 120px;
    border-radius: 5px;
    background-position: 50% 50%;
    background-size: 290px auto;
    
}
.venue-v2 .title {
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0;
    left: 0;
    background-color: RGBA(0, 0, 0, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    text-indent: 10px;
}

.venue-v2 .title.withoutImage {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.venue-v2 ul {
    width: 84%;
}

.venue-v2 li {
    position: relative;
    margin: 0 -15px;
    /*border-bottom: 1px solid #fff;*/
}

.venue-v2 li .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    width: 24px;
    height: 24px;
    background-image: url(http://assets.faxianla.com/app/icon-address.png);
    background-size: 24px 24px;
}

.venue-v2 li .phone {
    background-image: url(http://assets.faxianla.com/app/icon-phone.png);
}


.venue-v2 li p {
    min-height: 24px;
    /*padding: -1px 5px 6px 30px;*/
    font-size: 14px;
    line-height: 1.3;
    /* border-bottom: 1px solid #ababab; */
    /*min-height: 24px;
    padding: -1px 5px 6px 30px;
    font-size: 14px;
    line-height: 1.6;
    border-bottom: 1px solid #ababab;*/
}

.venue-v2 li:last-child, .venue-v2 li:last-child p {
    border-width: 0;
}

.venue-map-v2 p, .venue-map-v2 ul, .venue-map-v2 li {
    margin: 0;
    padding: 0;
}

.venue-map-v2 {
    width: 100%;
    overflow: hidden;
    font-family:"Times New Roman", Times, serif;
    text-shadow: none !important;
    margin-left: -12px;
}

.venue-map-v2 a {
    color: #333;
    text-decoration: none;
}

.venue-map-v2 .hd {
    display: block;
    position: relative;
    z-index: 1;
    border-width: 0;
}

.venue-map-v2 .hd.withoutImage {
    height: 35px;
}

.venue-map-v2 .hd.withImage {
    height: 120px;
}

.venue-map-v2 .img {
    display: block;
    width: 290px;
    height: 120px;
    border-radius: 5px;
    background-position: 50% 50%;
    background-size: 290px auto;
    
}
.venue-map-v2 .title {
    position: absolute;
    width: 100%;
    height: 35px;
    bottom: 0;
    left: 0;
    background-color: RGBA(0, 0, 0, 0.5);
    border-bottom-left-radius: 5px;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    text-indent: 10px;
}

.venue-map-v2 .title.withoutImage {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.venue-map-v2 li {
    position: relative;
    margin: 0 5px;
    border-bottom: 1px solid #fff;
}

.venue-map-v2 li .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -15px;
    width: 24px;
    height: 24px;
    background-image: url(http://assets.faxianla.com/app/icon-address.png);
    background-size: 24px 24px;
}

.venue-map-v2 li .phone {
    background-image: url(http://assets.faxianla.com/app/icon-phone.png);
}


.venue-map-v2 li p {
    min-height: 24px;
    padding: 6px 5px 6px 30px;
    font-size: 14px;
    line-height: 1.6;
    border-bottom: 1px solid #ababab;
}

.venue-map-v2 li:last-child, .venue-map-v2 li:last-child p {
    border-width: 0;
}

.directions-v2 {
    width: 290px;
    overflow: hidden;
}

.directions-v2 .hd {
    display: block;
    position: relative;
    z-index: 1;
    height: 120px;
    border-width: 0;
}

.directions-v2 .img {
    display: block;
    width: 290px;
    height: 120px;
    border-radius: 5px;
    background-position: 50% 50%;
    background-size: 290px auto;
}

.directions-v2 ol {
    margin-top: 5px;
    padding: 5px;
}

.directions-v2 ol li {
    padding: 5px 0;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    
    font-size: 12px;
    line-height: 1.5;
    color: #666666;
}

.directions-v2 ol li:last-child {
    border-bottom-width: 0;
}

.reservation-v2 {
    width: 290px;
    overflow: hidden;
}

.reservation-v2 h3 {
    border-bottom: 1px solid #fff;
}
.reservation-v2 h3 span {
    display: block;
    line-height: 24px;
    padding: 8px 0;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ababab;
}

.reservation-v2 .info {
    position: relative;
    margin-top: 5px;
    /* height: 68px; */
    font-size: 14px;
}

.reservation-v2 .info.withImage {
    padding-left: 75px;
}

.reservation-v2 .info .img {
    position: absolute;
    left: 4px;
    top: 0;
    width: 60px;
    height: 60px;
    border-width: 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px;
}

.reservation-v2 .info .img span {
    display: block;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}

.reservation-v2 .info p {
    line-height: 22px;
}

.hotel-booking {
    width: 290px;
    overflow: hidden;
    font-family:"Times New Roman", Times, serif;
    text-shadow: none !important;
}
.hotel-booking p {
    margin: 0;
    padding: 0;
}
.hotel-booking h3 {
    border-bottom: 1px solid #fff;
}
.hotel-booking h3 span {
    display: block;
    line-height: 24px;
    padding: 8px 0;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #ababab;
}
.hotel-booking .info {
    position: relative;
    margin-top: 5px;
    font-size: 14px;
}
.hotel-booking .info.withImage {
    padding-left: 75px;
}
.hotel-booking .info .img {
    position: absolute;
    left: 4px;
    top: 0;
    width: 60px;
    height: 60px;
    border-width: 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px;
}
.hotel-booking .info .img span {
    display: block;
    width: 60px;
    height: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}
.hotel-booking .info p {
    line-height: 22px;
}

.venue-list {
    padding: 0 5px;
}
.venue-list li {
    border-bottom: 1px solid #fff;
    color: #666666;
    font-size: 12px;
}
.venue-list li > div {
    position: relative;
    height: 64px;
    padding: 5px 5px 5px 70px;
    border-bottom: 1px solid #ababab;
}
.venue-list a.link {
    z-index: 2;
    position: absolute;
    top: 5px;
    left: 0;
    width: 280px;
    height: 64px;
    border-width: 0;
}
.venue-list h3 {
    olor: #525151;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    padding-bottom: 4px;
    overflow:hidden;
    text-overflow:ellipsis;white-space:nowrap;
}
.venue-list p {
    padding: 4px 0;
    overflow:hidden;
    text-overflow:ellipsis;white-space:nowrap;
}
.venue-list .services {
    display: box; display: -webkit-box;
    box-orient: horizontal;-webkit-box-orient: horizontal;
}
.venue-list .services span {
    display: block;
    box-flex: 1;-webkit-box-flex: 1;
}
.venue-list li:last-child, .venue-list li:last-child div { border-width: 0;}
.venue-list li .img {
    position: absolute;
    z-index: 1; left: 0; top: 5px;
    width: 60px; height: 60px;
    border-width: 0;
    background-color: #fff;
    border-radius: 5px;
    padding: 2px;
}
.venue-list .img b {
    display: block;
    width: 60px;height: 60px;
    background-size: 60px 60px;
    border-radius: 3px;
}
.taxiCard {
    width: 290px;
    overflow: hidden;
    font-size: 10pt;
    text-align: center;
}
.taxiCard p {
    padding: 0;
    margin: 0;
}
.taxiCard span.nameLocal {
    font-size: 14pt;
}
.taxiCard p.addressLocal { 
    margin-top: 15px;
}
.taxiCard span.addressLocal {
    font-size: 20pt;
}

.item-v2 {
  /*border-right: 1px solid;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  margin-left: -14px;
  padding: 14px 33px 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;*/
    /*margin-left: -17px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 14px 33px 4px;
    border: 1px solid lightgrey;
    box-shadow: lightgray 3px 3px 8px;
    position: relative;
    left: 2px;
    width: 108%;*/
    /*margin-left: -17px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding: 6px;
    border: 1px solid lightgrey;
    box-shadow: lightgrey 3px 3px 8px;
    position: relative;
    left: 2px;
    width: 65%;

}
.item-v2 .hd {
    display: block;
    position: relative;
    /*z-index: 1;*/
    border-width: 0;
}
.item-v2 .img {
    display: block;
    width: 98%;
    margin-left: 2.5px;
    height: 42%;
    border-radius: 5px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;    
    padding-top: 10px;
}

.item-v2 .title {
    position: relative;
    width: 290px;
    height: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    text-indent: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    left: 4px;
    top: -3px;
}

.item-v2 li {
    position: relative;
    margin: 0 5px;
    border-bottom: 1px solid #fff;
}

.item-v2 p {
    min-height: 24px;
    font-size: 12px;
    position: relative;
    bottom: 25px;
    margin-left: 3px;
    width: 99%;
    top: 3px;
}

.item-v2 li:last-child, .item-v2 li:last-child p {
    border-width: 0;
}
.linkPlacer {
    margin-left: 13px;
}
/*.item-v2 a {
    background-color: #98C63D;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid green;
    width: 150px;
    height: 20px;
    position: absolute;
    left: 75px;
    pointer: cursor;
    color: black;
    text-align: center;
    padding-top: 5px;
}*/


/*.item-v2 {
    width: 290px;
    overflow: hidden;
}
.item-v2 .img {
    display: block;
    width: 290px;
    height: 260px;
    border-radius: 5px;
    background-position: 50% 0%;
    background-size: auto 260px;
    background-repeat: no-repeat;
}
.item-v2 .title {
    position: absolute;
    width: 290px;
    height: 35px; 
    top: 231px;
    left: 5px;
    background-color: RGBA(0, 0, 0, 0.5);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 35px;
    color: #fff;
    font-size: 16px;
    text-indent: 10px;
}

.item-v2 .title.withoutImage {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}   
.description {
    margin-top: 10px;
    width: 290px;
}
.item-v2 li {
    position: relative; 
    margin: 0 5px;
    border-bottom: 1px solid #fff;
}   
.item-v2 li .icon {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -10px;
    width: 24px;
    height: 24px;
    background-image: url(http://assets.guestops.com/images/icon-address.png);
    background-size: 24px 24px;
}

.item-v2 li p {
    min-height: 24px;
    padding: 6px 5px 6px 30px;
    font-size: 14px;
    line-height: 1.6;
    border-bottom: 1px solid #ababab;
}

.item-v2 li:last-child, .item-v2 li:last-child p {
    border-width: 0;
}*/
.buyButton {
    text-align: center;
    width: 248px;
    height: 20px;
    font-size: 11pt;
    padding: 6px 20px;
    margin: 10px auto 10px auto;
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
    box-shadow: 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    color:#333333;
    font-family:arial;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.buyLink {
    text-decoration: none;
}


/*audiomes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@-webkit-keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}
@keyframes throbber-loader {
  0% {
    background: #dde2e7;
  }
  10% {
    background: #6b9dc8;
  }
  40% {
    background: #dde2e7;
  }
}*/
/* :not(:required) hides these rules from IE9 and below */
/*.throbber-loader:not(:required) {
  -moz-animation: throbber-loader 2000ms 300ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 300ms infinite ease-out;
  animation: throbber-loader 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
  left: 59px;
  top: 3px;
  font-size: 5px;
}
.throbber-loader:not(:required):before, .throbber-loader:not(:required):after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
} 
.throbber-loader:not(:required):before {
  -moz-animation: throbber-loader 2000ms 150ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 150ms infinite ease-out;
  animation: throbber-loader 2000ms 150ms infinite ease-out;
  left: -1.6em;
}
.throbber-loader:not(:required):after {
  -moz-animation: throbber-loader 2000ms 450ms infinite ease-out;
  -webkit-animation: throbber-loader 2000ms 450ms infinite ease-out;
  animation: throbber-loader 2000ms 450ms infinite ease-out;
  right: -1.6em;
  width: 100%;
  height: 14%;
  margin-left: -15px;
}*/

.failed {
  z-index: 10000000;
  margin-top: -16px;
  min-height: 6%; 
  background: transparent url('images/message-failed.png');
  background-repeat: no-repeat;
  position: relative;
  text-indent: -9999px;
  width: 2.9em;
  height: 1.5em;
  margin: 0 1.6em;
  left: -19px;
  top: 3px;
  font-size: 5px;
}
.chat-wrapper {
    background: transparent;
    background: #00000000;
    background: rgba(0, 0, 0, 0);
    float: left;
    width: 100%;
}
#dialog {
    color: white;
    font-size: 12px;
}

.blur-all {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
}
.buttonGroup {
    position:relative;
    top: 1px;
    left: -4px;
}

.yesButton {
    background-color:#44c767;
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:11px;
    padding:2px 18px;
    text-decoration:none;
}
.yesButton:hover {
    background-color:#5cbf2a;
}
.yesButton:active {
    position:relative;
    top:1px;
}
.noButton {
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:28px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:11px;
    padding:2px 18px;
    text-decoration:none;
}
.noButton:hover {
    background-color:#5cbf2a;
}
.noButton:active {
    position:relative;
    top:1px;
}
.status-bar {
    min-height: 35px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
    text-align: center;
    display: none;
}
    
.agentImage {
    height: 20px;
    width: 20px;
    position: relative;
    top: 4px;
    left: 3px;
    display: none;
}

.authorNick {
    font-size: 14px;
    margin-left: 4px;
    position: relative;
    top: 2px;
}
.userleft {
    font-size: 12px;
    font-style: italic;
    position: relative;
    text-align: center;
}

.hidden {
    display: none;
}
.statusMessage {
    /*height: 46px;*/
    width: 100%;/*245px*/
    text-align: center;
    position: relative;
    /*left: 7px;
    top: 1px;*/
    padding: 2px;
    /*border-radius: 10px;*/
    /*font-style: italic;*/
    color: #d0d0d0;
    font-size: 12px;
}
.messageLayout {
    margin-left: -0.9em;
    margin-top: 0px;
}

.statusText {
    position: relative;
    top: 5px;
    margin-bottom: 10px;
    color: #121212;
    font-weight: 100;
    font-size: 12px;
}
.rejoin {
    position: relative;
    text-align: center;
    color: lightgray;
    top: 0px;
    color: #121212;
    font-weight: 100;
    font-size: 12px;
}
.audioPlacer {
    width: 101%;
    position: relative;
    margin-top: 5px;
}
.audioPlacerTen {
    margin-left: -10px;
}
.messageTimeContainer {
    text-align: center;
}
.messageTime {
    color: #626262;
    font-weight: 100;
    font-size: 11px;
}
.messageTimestamp {
    display: none;
}
.messageFailedIcon {
    color: red;
}
.messageFailedContainer {
    text-align: center;
    margin-left: -20px;
}
.messageFailedText {
    color: red;
}
.loadingSpinner {
    color: gray;
}
.messageStatus {}
.firstMessage {
    background-color: #f1f1f1;
    border-radius: 5px;
    width: 94%;
    position: relative;
    margin: auto;
    padding: 9px 5px 9px 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.firstMessageText {
    padding-left: 5px;
    color: black;
}
.chatTopArrowIcon {
    position: absolute;
    right: 40px;
    top: 11px;
    font-size: 22px !important;
    color: rgba(255, 255, 255, 0.78);
}
.chatTopCloseIcon {display:none;position: absolute;right: 13px;top: 9px;font-size: 22px !important;color: rgba(255, 255, 255, 0.78);}
.chatTopCloseIcon:hover {color: #717171;}
.chatTopMenuIcon {position: absolute;right: 13px;top: 8px;font-size: 22px !important;color: rgba(255, 255, 255, 0.78);}
.chatTopMenuIcon:hover {color: #717171;}

.webChatMenuText {font-size: 14px;margin-left: 10px;}
.webChatMenuIcon {}
.webChatMenuSingle {height:30px;border: 1px solid lightgray;padding: 8px 35px 0px 10px;}
.webChatMenuSingle:active {background-color:gray;color:#f1f1f1;}
.webChatMenuContainer {display:none;position:absolute;background-color: #f1f1f1;font-weight: 200;font-size: 16px;color: gray;right: 0;width: 45%;box-shadow: 5px 5px 5px #cccccc;z-index:10;min-width: 155px;}

.iconsPlacer {
    position: fixed;
    right: 6px;
    bottom: 49px;
    margin-right: 5px;
    color: gray;
}
.iconsPlacerMobile {
    position: fixed;
    bottom: 15px !important;
    right: 62px !important;
    font-size: 22px !important;
}
.iconsPlacerMobileSafariClosed {
    bottom: 55px !important;
    right: 100px !important;
}
.iconsPlacerMobileSafariOpen {
    bottom: 115px !important;
    right: 100px !important;
}
.uploadIconStyle {
    display: none !important;
    cursor: pointer;
    display: block !important;
    float: left;
    color: #a3a3a3;
}
.uploadIconSpin {float:left;margin-right:10px;}
.uploadIconStyleMobile {
    position: relative;
    bottom: -34px !important;
    right: 60px !important;
    font-size: 22px !important;
}
.uploadIconStyleMobileSafari {
    position: relative;
    bottom: 127px !important;
    /*right: 75px !important;*/
    font-size: 22px !important;
}
.mobileForceBottom {
    bottom: 102px !important;
}
.uploadImage {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:black;
    display:none;
}
.loading-container {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #333333;
    height: 250px;
    width: 95.5%;
    overflow-y:auto;
    overflow-x:auto;
    padding:2%;
    border-left:1px solid #cccccc;
    border-right:1px solid #cccccc;
    border-bottom:1px solid #eeeeee;
    background-color: #ffffff;
    line-height: 1.3em;
    text-align: center;
}
.loadingContainer {margin-top: 25%;color: gray;}
.loadingIcon {font-size: 34px !important;margin-left: -10px;margin-top: 15px;color: gray !important;}
.loadingText {}
.loadingTextContainer {float:left;width:100%;margin-top: 10px;}

.checkFormIcon {color: #28cc28;font-size: 100px !important;}

.formCloseButton {width: 17%;border: solid 1px #4285f4;border-radius: 5px;transition: color 150ms;height: 20px;position: relative;text-align: center;cursor: default;
    margin-left: 10px;color: #4285f4;font-weight: 100;padding-top: 2px;margin-top: 5px;min-width: 155px;left: 31%;margin-top: 10%;padding-top: 6px;}
.formCloseButton:hover {background-color: #4285f4;color: white;border-radius: 5px;border-color: white;transition: color 150ms;cursor: pointer;}

.sendButton {display:none;position: fixed;float:right;width: 10%;font-size: 12px;border: solid 1px #4285f4;/*border-radius: 5px;*/transition: color 150ms;height: 18px;text-align: center;cursor: default;
    margin-left: 10px;color: #4285f4;font-weight: 100;padding-top: 2px;min-width: 50px;padding-top: 3px;padding-bottom: 3px;margin-right: 10px;right: 0;
    bottom: 0;margin-top: 0.5%;}
.sendButton:hover {background-color: #4285f4;color: white;border-color: white;transition: color 150ms;cursor: pointer;}

.historyButton {position: relative;width: 40%;font-size: 12px;transition: color 150ms;height: 18px;text-align: center;cursor: default;
    color: #121212;font-weight: 100;margin: auto;margin-top: 10px;padding-top: 3px;}
.historyButton:hover {color: black;transition: color 150ms;cursor: pointer;}

.formValidatedContainer {margin-top: 10%;text-align: center;font-weight: 300 !important;}
.formValidatedTextOne {color: #28cc28;}
.formValidatedTextTwo {margin-top: 6%;color:black;}
.formValidatedTextContainer {text-align: center;width: 100%;font-size: 13px;font-weight: 300;color: darkgrey;}
.formValidatedText {}
.formValidatedFirstText {margin-top: 5%;}
.formMessageTextHolder {}
.formMessageTextHolder {text-align: center;width: 82%;margin-left: 8%;margin-top: 25px;}

.inputNameError {display:none;height:0px;text-align: left;margin-left: 10%;font-style:italic;}
.inputEmailError {display:none;height:0px;text-align: left;margin-left: 10%;font-style:italic;}
.inputMessageError {display:none;height:0px;text-align: left;margin-left: 10%;font-style:italic;}
.inputNameErrorText {color:#f56f6f;}
.inputEmailErrorText {color:#f56f6f;}
.inputMessageErrorText {color:#f56f6f;}

#check {
  fill: none;
  stroke: #28cc28;
  stroke-width: 20;
  stroke-dasharray: 180;
  stroke-dashoffset: 180;
  -webkit-animation: draw 2s infinite ease;
  animation: draw 2s infinite ease;
}
.unselectable {
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.reconnectText {position: relative;height: 0px;float: left;width: 38%;z-index: 1;top: -5px;left: 30%;font-size: 13px;background-color: white;font-style: italic;color: red;
    font-weight: 300;}
.reconnectTextContainer {display:none;background-color: white !important;position: fixed;width: 100%;height: 0;z-index: 1;bottom: 21%;}
.reconnectClickTarget {color: black;text-decoration: underline;font-style: normal;cursor: pointer;font-weight: 300;font-size: 13px;float: left;
    height: 0;position: relative;z-index: 2;top: -6px;left: 69%;}
.reconnectFormText {position: relative;height: 0px;float: left;width: 38%;z-index: 1;top: -5px;left: 30%;font-size: 13px;background-color: white;font-style: italic;color: red;
    font-weight: 300;}
.reconnectFormTextContainer {display:none;background-color: white !important;position: relative;width: 100%;height: 0;z-index: 0;top: 60px;right: 28%;}
.reconnectFormClickTarget {color: black;text-decoration: underline;font-style: normal;cursor: pointer;font-weight: 300;font-size: 13px;float: left;
    height: 0;position: relative;z-index: 2;top: -6px;left: 68%;}
.reconnectSpinner {position:relative;margin-left: 10px;color:gray;}

/* Qui Page CSS */
.confirmQuitContainer {display:none;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 2;background-color: #0c0c0cc2;background-color:rgba(0, 0, 0, 0.76);color: #e8e8e8;font-weight: 200;
    text-align: center;padding-top: 60px;margin-top: 38px;top:9px;padding-left: 10px;padding-right: 10px;}
.confirmQuitSentence {padding-bottom: 35px;}
.confirmQuitText {}
.confirmQuitButtonContainer {position:relative;width: 225px;height: 40px;margin-left: auto;margin-right: auto;min-width: 228px;font-size: 14px;}
.confirmNoButton {background-color: transparent;color: #e8e8e8;border: solid;border-radius: 5px;border-color: #e8e8e8;border-width: 1px;transition: color 150ms;height: 20px;
    position: relative;width: 100px;text-align: center;cursor: pointer;float: left;margin-right: 15px;padding: 4px 2px 0px 2px;}
.confirmNoText {}
.confirmYesButton {background-color: #e8e8e8;color: rgba(0, 0, 0, 0.8);border: solid;border-radius: 5px;border-color: #e8e8e8;border-width: 1px;transition: color 150ms;height: 20px;
    position: relative;width: 100px;text-align: center;cursor: pointer;float: left;padding: 4px 2px 0px 2px;}
.confirmYesText {}
.confirmQuitSecondaryText {padding-top: 30px;width: 100%;height: 85px;margin-left: auto;margin-right: auto;font-size: 13px;}
.confirmQuitSecondaryTextOne {text-align: center !important;}
.confirmQuitSecondaryTextTwo {text-align: center !important;}
.confirmQuitSecContOne {float: left;position: relative;text-align: center !important;width: 100%;margin-bottom: 15px;}
.confirmQuitSecContTwo {float: left;position: relative;text-align: center !important;width: 100%;}

.mobileChatTop {border-radius: 79px !important;width: 17px !important;box-shadow: 2px 2px 6px grey;float: right;position: relative;right: 70px;margin-bottom: 16px;
    bottom: -3px;height: 52px !important;width: 54px !important;padding-bottom: 6px !important;}
.mobileChatTitle {padding-bottom: 6px !important;}
.chatTopIconsContainer {width: 100px;float: right;}
.chatTopIcon {font-size: 41px !important;position: relative;top: 5px;left: 6px;}

.testRewrapDiv {position: fixed;float: left;width: 100%;height: 100%;}
.muteStatus {position: relative;right: 7px;margin-top: 13px;}

.cardContainer {position:relative;min-height: 150px;border: lightgray solid 1px;border-radius: 3px;width: 250px;font-weight: 300;margin-bottom: 25px;background-color:white;cursor:pointer;}
.cardImageContainer {display: block;position:relative;width:100%;height: 35% !important;background-size: contain !important;
 background-position: center;background-repeat: no-repeat;min-height: 120px;margin-bottom: 3px;margin-top: 0px;}
.cardMobileAttr {height: 10% !important;min-height:50px;}
.cardTitleText {font-size: 13px;margin: 3px 10px 0px 5px;}
.cardDescriptionText {font-size: 11px;color:gray;margin: 3px 10px 3px 5px;}
.cardLinkText {font-size: 10px;color:lightgray;cursor:pointer;margin: -2px 10px -2px 5px;max-width: 240px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.sendButtonText {opacity: 1;font-weight: 400;}
.loadingSpinnerImage {position: relative;font-size: 20px !important;left: -11px;}
.newMessageNotif {
    display: none;
    position: relative;
    height: 6px;
    width: 7px;
    background-color: #ff3a3a;
    float: right;
    border-radius: 5px;
    top: -1px;
    left: 0px;}
-webkit-@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}








































