<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.myapplication"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="10"
            android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 3-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 5 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <!-- 6 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
            android:allowBackup="true"
            android:icon="@drawable/app"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <activity
                android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:label="@string/app_name"/>

        <activity
                android:name=".activity.LostProtectedActivity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:label="@string/app_name"/>

        <receiver android:name=".receiver.CallPhoneReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
            </intent-filter>
        </receiver>

        <!--
                文件读取问题
        -->
        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.example.myapplication.fileprovider"
                android:grantUriPermissions="true"
                android:exported="false">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/file_paths"/>
        </provider>


        <activity
                android:name=".activity.SetupGuide1Activity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:label="@string/app_name"/>

        <activity
                android:name=".activity.SetupGuide2Activity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:label="@string/app_name"/>

        <activity
                android:name=".activity.SetupGuide3Activity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:label="@string/app_name"/>

        <activity
                android:name=".activity.SetupGuide4Activity"
                android:theme="@android:style/Theme.NoTitleBar"
                android:label="@string/app_name"/>

        <activity
                android:name=".activity.ContactSelectActivity"/>


    </application>

</manifest>
