<html class="js ASIA" lang="zh"><head>
  <link rel="stylesheet" type="text/css" href="static/css/style_CN.css" media="">
  <link rel="stylesheet" type="text/css" href="static/css/formPattern4_CN.css" media="">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <link rel="stylesheet" type="text/css" href="static/css/categoryHome.css">
 </head>
 <body>
  <div class="page categoryUsual">
   <main class="content" id="content" role="main" data-scrollable="true">
    <div id="products-grid" class="products-grid infinite-scroll" data-backtotop="active" ref="">
     <div class="pl-page">
      <div class="productItemContainer">
       <a id="sku_M52514" href="https://www.louisvuitton.cn/zhs-cn/products/twist-mm-epi-nvprod1170056v" class="product-item productItem tagClick tagClick" data-index="0" data-sku="M52514" data-rank="1" data-detail="1" data-productid="nvprod1170056v" data-productcategory="全系列手袋" data-evt-product-sku="M52514" data-evt-position-number="rank_1" data-evt-page-rank="result_list_1" data-evt-action-id="product_selection" style="height: 300px;">
        <div class="imageWrapper">
         <img data-src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M52514_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" class="postLoaderResponsive notPush product-img" data-src-as="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M52514_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" data-factorwidth="1.5" alt="" style="display: block; opacity: 1; width: 100%; max-height: 300px;" src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_AS/路易威登--M52514_PM2_Front view.jpg?wid=204&amp;hei=204" data-loaded-src-attr="data-src" data-currentcategory="PM2">
        </div>
        <div class="description">
         <div class="productName toMinimize">
           Twist 中号手袋
         </div>
         <div class="from-price">
          <span class="productPrice">¥29,200</span>
         </div>
        </div> </a>
       <div class="availableMarketingColors">
       </div>
      </div>
      <div class="productItemContainer">
       <a id="sku_M52513" href="https://www.louisvuitton.cn/zhs-cn/products/twist-mm-epi-nvprod1170057v" class="product-item productItem tagClick tagClick" data-index="0" data-sku="M52513" data-rank="2" data-detail="1" data-productid="nvprod1170057v" data-productcategory="全系列手袋" data-evt-product-sku="M52513" data-evt-position-number="rank_2" data-evt-page-rank="result_list_1" data-evt-action-id="product_selection" style="height: 300px;">
        <div class="imageWrapper">
         <img data-src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M52513_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" class="postLoaderResponsive notPush product-img" data-src-as="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M52513_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" data-factorwidth="1.5" alt="" style="display: block; opacity: 1; width: 100%; max-height: 300px;" src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_AS/路易威登--M52513_PM2_Front view.jpg?wid=204&amp;hei=204" data-loaded-src-attr="data-src" data-currentcategory="PM2">
        </div>
        <div class="description">
         <div class="productName toMinimize">
           Twist 中号手袋
         </div>
         <div class="from-price">
          <span class="productPrice">¥29,200</span>
         </div>
        </div> </a>
       <div class="availableMarketingColors">
       </div>
      </div>
      <div class="productItemContainer">
       <a id="sku_M44408" href="https://www.louisvuitton.cn/zhs-cn/products/twist-mm-nvprod1120051v" class="product-item productItem tagClick tagClick" data-index="0" data-sku="M44408" data-rank="3" data-detail="1" data-productid="nvprod1120051v" data-productcategory="全系列手袋" data-evt-product-sku="M44408" data-evt-position-number="rank_3" data-evt-page-rank="result_list_1" data-evt-action-id="product_selection" style="height: 300px;">
        <div class="imageWrapper">
         <img data-src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M44408_PM2_Front_view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" class="postLoaderResponsive notPush product-img" data-src-as="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M44408_PM2_Front_view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" data-factorwidth="1.5" alt="" style="display: block; opacity: 1; width: 100%; max-height: 300px;" src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_AS/路易威登--M44408_PM2_Front_view.jpg?wid=204&amp;hei=204" data-loaded-src-attr="data-src" data-currentcategory="PM2">
        </div>
        <div class="description">
         <div class="productName toMinimize">
           Twist 中号手袋
         </div>
         <div class="from-price">
          <span class="productPrice">¥28,000</span>
         </div>
        </div> </a>
       <div class="availableMarketingColors">
       </div>
      </div>
      <div class="productItemContainer">
       <a id="sku_M90366" href="https://www.louisvuitton.cn/zhs-cn/products/pochette-twist-monogram-vernis-nvprod1120044v" class="product-item productItem tagClick tagClick" data-index="0" data-sku="M90366" data-rank="4" data-detail="1" data-productid="nvprod1120044v" data-productcategory="全系列手袋" data-evt-product-sku="M90366" data-evt-position-number="rank_4" data-evt-page-rank="result_list_1" data-evt-action-id="product_selection" style="height: 300px;">
        <div class="imageWrapper">
         <img data-src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M90366_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" class="postLoaderResponsive notPush product-img" data-src-as="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M90366_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" data-factorwidth="1.5" alt="" style="display: block; opacity: 1; width: 100%; max-height: 300px;" src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_AS/路易威登--M90366_PM2_Front view.jpg?wid=204&amp;hei=204" data-loaded-src-attr="data-src" data-currentcategory="PM2">
        </div>
        <div class="description">
         <div class="productName toMinimize">
           Pochette Twist 手袋
         </div>
         <div class="from-price">
          <span class="productPrice">¥25,200</span>
         </div>
        </div> </a>
       <div class="availableMarketingColors">
       </div>
      </div>
      <div class="productItemContainer">
       <a id="sku_M52510" href="https://www.louisvuitton.cn/zhs-cn/products/twist-mm-epi-nvprod1080219v" class="product-item productItem tagClick tagClick" data-index="0" data-sku="M52510" data-rank="5" data-detail="1" data-productid="nvprod1080219v" data-productcategory="全系列手袋" data-evt-product-sku="M52510" data-evt-position-number="rank_5" data-evt-page-rank="result_list_1" data-evt-action-id="product_selection" style="height: 300px;">
        <div class="imageWrapper">
         <img data-src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M52510_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" class="postLoaderResponsive notPush product-img" data-src-as="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M52510_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" data-factorwidth="1.5" alt="" style="display: block; opacity: 1; width: 100%; max-height: 300px;" src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_AS/路易威登--M52510_PM2_Front view.jpg?wid=204&amp;hei=204" data-loaded-src-attr="data-src" data-currentcategory="PM2">
        </div>
        <div class="description">
         <div class="productName toMinimize">
           Twist 中号手袋
         </div>
         <div class="from-price">
          <span class="productPrice">¥29,300</span>
         </div>
        </div> </a>
       <div class="availableMarketingColors">
        <div class="stickersList">


         <div class="hiddenSkuImages fullyLoaded">
          <div id="sku_M52510" data-href="/zhs-cn/products/twist-mm-epi-nvprod1080219v" class="product-item tagClick tagClick selected" data-index="0" data-sticker="sticker_M525100" data-sku="M52510" data-rank="0" data-detail="1" data-productid="nvprod1080219v" data-productcategory="全系列手袋" style="height: 300px;">
           <div class="imageWrapper">
            <img data-src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M52510_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" class="product-img postLoaderResponsive" data-src-as="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M52510_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" data-factorwidth="1.5" alt="" style="display: block; opacity: 1; width: 100%; max-height: 300px;" src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_AS/路易威登--M52510_PM2_Front view.jpg?wid=204&amp;hei=204" data-loaded-src-attr="data-src" data-currentcategory="PM2">
           </div>
          </div>
          <div id="sku_M52730" data-href="/zhs-cn/products/twist-mm-epi-nvprod1080219v#M52730" class="product-item tagClick tagClick" data-index="1" data-sticker="sticker_M527301" data-sku="M52730" data-rank="1" data-detail="1" data-productid="nvprod1080219v" data-productcategory="全系列手袋" style="height: 300px;">
           <div class="imageWrapper">
            <img data-src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M52730_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" class="product-img postLoaderResponsive" data-src-as="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M52730_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" data-factorwidth="1.5" alt="" style="display: block; opacity: 1; width: 100%; max-height: 300px;" src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_AS/路易威登--M52730_PM2_Front view.jpg?wid=204&amp;hei=204" data-loaded-src-attr="data-src" data-currentcategory="PM2">
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
      <div class="productItemContainer">
       <a id="sku_M43973" href="https://www.louisvuitton.cn/zhs-cn/products/twist-pm-epi-nvprod1170058v" class="product-item productItem tagClick tagClick" data-index="0" data-sku="M43973" data-rank="6" data-detail="1" data-productid="nvprod1170058v" data-productcategory="全系列手袋" data-evt-product-sku="M43973" data-evt-position-number="rank_6" data-evt-page-rank="result_list_1" data-evt-action-id="product_selection" style="height: 300px;">
        <div class="imageWrapper">
         <img data-src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M43973_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" class="postLoaderResponsive notPush product-img" data-src-as="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M43973_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" data-factorwidth="1.5" alt="" style="display: block; opacity: 1; width: 100%; max-height: 300px;" src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_AS/路易威登--M43973_PM2_Front view.jpg?wid=204&amp;hei=204" data-loaded-src-attr="data-src" data-currentcategory="PM2">
        </div>
        <div class="description">
         <div class="productName toMinimize">
           Twist 小号手袋
         </div>
         <div class="from-price">
          <span class="productPrice">¥34,000</span>
         </div>
        </div> </a>
       <div class="availableMarketingColors">
       </div>
      </div>
      <div class="productItemContainer">
       <a id="sku_M44371" href="https://www.louisvuitton.cn/zhs-cn/products/sac-tricot-monogram-vernis-nvprod1120028v" class="product-item productItem tagClick tagClick" data-index="0" data-sku="M44371" data-rank="18" data-detail="1" data-productid="nvprod1120028v" data-productcategory="全系列手袋" data-evt-product-sku="M44371" data-evt-position-number="rank_18" data-evt-page-rank="result_list_1" data-evt-action-id="product_selection" style="height: 300px;">
        <div class="imageWrapper">
         <img data-src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M44371_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" class="postLoaderResponsive notPush product-img" data-src-as="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_L/路易威登--M44371_PM2_Front view.jpg?wid={IMG_WIDTH}&amp;hei={IMG_HEIGHT}" data-factorwidth="1.5" alt="" style="display: block; opacity: 1; width: 100%; max-height: 300px;" src="https://www.louisvuitton.cn/images/is/image/lv/1/PP_VP_AS/路易威登--M44371_PM2_Front view.jpg?wid=204&amp;hei=204" data-loaded-src-attr="data-src" data-currentcategory="PM2">
        </div>
        <div class="description">
         <div class="productName toMinimize">
           Sac Tricot 手袋
         </div>
         <div class="from-price">
          <span class="productPrice">¥20,400</span>
         </div>
        </div> </a>
       <div class="availableMarketingColors">
       </div>
      </div>
     </div>
    </div>
   </main>
  </div>

</body></html>